@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: Montserrat;
}

tr:hover {
    background-color: #808080;
}

th.b {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1520A6;
    color: white;
}

th.l {
    padding: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td.a {
    font-size: 10px;
    text-align: center;
}

.GC {
    grid-area: 1/1/1/1;
}

.AC {
    grid-area: 2/2/2/2;
}

.TC {
    grid-row: 1;
    grid-column: 3 / 4;
}

.FC {
    grid-row: 2;
    grid-column: 3 / 4;
}

.card {
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.Granny {
    padding: 2px 16px;
    text-align: center;
}